// ========== SIZE ========================================
$max_Project_Size:1200;                 // Для функции adaptive_size
$min_Project_Size:320;                  // Для функции adaptive_size
$basic_Project_Size: 16;              // Для функции adaptive_size

$maxWidth: #{$max_Project_Size}px;
$minWidtch: #{$min_Project_Size}px;


// ========== FONT ========================================
$font_main: 'Inter', sans-serif;
$font_size_main:62.5;                       // Для функции сайта


// ========== COLOR ========================================
$color_black: #131313;
$color_wheit: #FFFFFF;
$color_grey: #6F6F6F;
$color_red: #FF4040;
$color_backgrond: #fff;


// ========== BREAKPOINT ========================================
$breakpoint: (
    "991": 991px,
    "770": 770px,
    "450": 450px,
    "320": 320px
);


// ========== BORDER ========================================
$border-bold: .5rem solid #000;
$border-light: .2rem solid #000;