// ========== SIZE ========================================
$maxWidth: 1200px;
$minWidtch: 320px;


// ========== FONT ========================================
$font_size_main:62.5;                       // Для функции
$font_main: 'Inter', sans-serif;


// ========== COLOR ========================================
$color_black: #131313;
$color_wheit: #FFFFFF;
$color_grey: #6F6F6F;
$color_red: #FF4040;
$color_backgrond: #fff;


// ========== BREAKPOINT ========================================
$breakpoint: (
    "991": 991px,
    "770": 770px,
    "450": 450px,
    "320": 320px
);


// ========== BORDER ========================================
$border-bold: .5rem solid #000;
$border-light: .2rem solid #000;